.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: #006437;
}

.headerTitleSm {
  position: absolute;
  top: 10%;
  font-size: 40px;
  color: #006437;
}

.headerTitleLg {
  position: absolute;
  top: 15%;
  font-size: 100px;
  z-index: 2;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
  opacity: 0.5;
}
